.app-header {
  padding-right: 0;
}

.loading-spinner {
  margin: 1em auto; 
}

.anchor-text-padded {
  padding: 0 0.5em;
}

.grommet.grommetux-drop {
  z-index: 51;
}

.vote-box {
  text-align: center;
  margin-bottom: 3.25em;
}

@media screen and (min-width: 500px) {
  .post-timestamp {
    text-align: right;
  }

  .vote-box {
    margin-bottom: 2em;
  }
}