::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(248, 248, 248, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

.loading-spinner {
  margin: 1em auto; 
}

.anchor-text-padded {
  padding: 0 0.5em;
}

.grommet.grommetux-drop {
  z-index: 51;
}

.vote-box {
  text-align: center;
  margin-bottom: 3.25em;
}

.main-header, .main-footer {
  position: fixed;
  background: #fefefe;
}

.main-header {
  padding-right: 0;
  top: 0;
  z-index: 2;
}

.filter-header {
  padding-top: 0;
}

.main-footer {
  bottom: 0;
}

.main-container {
  margin-top: 72px;
}

.list-items-container {
  height: calc(100vh - 176px);
}

.categories-list-items-container {
  height: calc(100vh - 124px);
}

.profile-layer:not(.grommetux-layer--hidden) .profile-username-heading {
  position: relative;
}

.profile-layer .profile-username-heading:before,
.profile-layer .profile-username-heading:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  top: 50%;
  background: #000;
  transition: width 0.2s ease-in-out;
  width: 0;
}

.profile-layer:not(.grommetux-layer--hidden) .profile-username-heading:before,
.profile-layer:not(.grommetux-layer--hidden) .profile-username-heading:after {
  width: 35%;
}

.profile-layer:not(.grommetux-layer--hidden) .profile-username-heading:before {
  left: -50%;
}

.profile-layer:not(.grommetux-layer--hidden) .profile-username-heading:after {
  right: -50%;
}

.profile-layer .grommetux-layer__container {
  width: 100%;
}

.loading-container {
  margin: 5em;
}

.grommetux-button__icon .grommetux-control-icon.user-button-icon {
  vertical-align: middle;
}

.user-vote-score-value {
  padding: 1em;
}

@media screen and (min-width: 500px) {
  .post-timestamp {
    text-align: right;
  }

  .vote-box {
    margin-bottom: 2em;
  }
}